html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  padding:30px;
}

.display {
  display: flex;
  justify-content: space-around;
  color:#6b6bff;
  border-top: 5px solid #948484;
  border-bottom: 5px solid #898080;
  
}

.heading {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #978787;
  background-color: rgba(76, 175, 80, 0.3)
  
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.display-image img {
  display: block;
  height: 160px;
  width: 100%; 
  padding:30px;
}

.display-song p {
  font-size: 18px;
  height: 100px;
  width: 100%;
  font-weight: bold;
  text-align:center;
  
}

.display-artist p {
  font-size: 18px;
  height: 100px;
  width: 100%;
  font-weight: bold;
  text-align:center;
}

.display-song {
  display : flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}

.display-artist{
  display : flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}


.display-link iframe {
  display: block;
  font-size: 18px;
  height: 100px;
  width: 100%;
  font-weight: bold;
  margin: 30px;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  color: #ff3300;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: #479a76;
}

body {
  background: url(https://i.pinimg.com/originals/b8/4f/41/b84f4195a6d33c93d01111287c0c7b7e.jpg);
color: #4249ff;
}

h4{
  color: #99d3ff;
}




